<h1> Is This a Triangle? <h1>

<h3> Well let's see <h3>

<form action="/results" method="get">
  <div class="form-group">
    <label for="side_one">Side One</label>
    <input name="side_one" class="form-control" type="number">

    <label for="side_two">Side Two </label>
    <input name="side_two" class="form-control" type="number">

    <label for="side_three">Side Three</label>
    <input name="side_three" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Check!</button>
</form>